asttokens
attrs
Bottleneck
branca
Brotli
certifi
cffi
charset-normalizer
click
click-plugins
cligj==0.7.2
colorama
comm
contourpy
cycler
debugpy
decorator
executing
fiona==1.9.6
folium
fonttools
GDAL==3.9.2
geopandas
h2
hpack==4.0.0
hyperframe
idna
ipykernel
ipython
jedi
Jinja2
joblib
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_client
jupyter_core
kiwisolver
mapclassify
MarkupSafe
matplotlib
matplotlib-inline
mkl-fft
mkl-random
mkl-service==2.4.0
nest-asyncio
networkx
numexpr
numpy
packaging
pandas
parso
pathlib==1.0.1
pillow
platformdirs
ply
prompt-toolkit
psutil
pure-eval
pycparser
Pygments
pyogrio
pyparsing
pyproj==3.6.1
PyQt5==5.15.10
PyQt5-sip
PySocks
pystac==1.10.1
pystac-client==0.8.3
python-dateutil
pytz
pywin32==305.1
pyzmq
referencing==0.35.1
requests
rpds-py==0.20.0
Rtree
scikit-learn
scipy
setuptools==72.1.0
shapely
sip
six
stack-data
threadpoolctl
tornado
traitlets
tzdata
unicodedata2
urllib3
wcwidth
wheel==0.43.0
win-inet-pton
xyzservices
zstandard==0.23.0
